body {
	background: black;
}

body {
	font-family: 'Tapestry', cursive;
}

.menu li {
	display: inline-block;
	margin: 20px;
}

.etiquetas {
	display: inline-block;
	margin: 20px;
}

header {
	background: darkblue;
}

.caja {
	border: 2px solid white;
	margin-bottom: 20px;
}